// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options

@import 'prism/themes/prism-okaidia.css'
// Check out "bower_components/prism/themes/" for available themes

code {
  white-space: pre-wrap;
}

.strong {
  font-weight: bold;
}

.danger {
  color: #ee4f6a;
}

.nice {
  color: #0fa00e;
}

img {
  display: block;
  width: auto;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

img.logo {
   display: inline;
   height: 80px;
   width: 80;
   border-radius: 15px;
}

img.fullscreen {
  height: 100%;
}

.references {
  text-align: left;
  font-size: 16px;
}

.gif-what {
  color: #f8f8f2;
  background: url(https://media.giphy.com/media/RB8DeKpCTwwaA/giphy.gif) no-repeat center;
  background-size: cover;
}

.gif-hell {
  color: #f8f8f2;
  background: url(https://media.giphy.com/media/4TMqcN59kg3Yc/giphy.gif) no-repeat center;
  background-size: cover;
}

.gif-more {
  color: #f8f8f2;
  background: url(https://media.giphy.com/media/GSE1BzJG4JVbq/giphy.gif) no-repeat center;
  background-size: cover;
}

.gif-thanks {
  color: #f8f8f2;
  background: url(https://media.giphy.com/media/6tHy8UAbv3zgs/giphy.gif) no-repeat center;
  background-size: cover;
}

.contrast {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.full-height {
  padding: 0 !important;
}

.small-code {
  font-size: 10px;
  margin: 0;
  padding: 0 !important;
}